html {
	background: #d2dfff;
	font-family : Arial, sans-serif;
	margin : 10px;
	padding : 10px;
	border : 1px solid blue;
}



/* ------------ Grid Küchenutensilien ---------- */



/* ------------ Grid Rezept ---------- */


